.sources {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #292929;
    line-height: 1;
}

.sources .page-title {
    font-weight: 900;
    font-size: 40px;
    border-bottom: 5px #e64946 solid;
    margin-bottom: 25px;
    padding-bottom: 10px;
}

.sources .source {
    display: flex;
    justify-content: flex-start;
}

.content {
    align-self: center;
    width: 100%;
}

.source {
    margin-top: 20px;
    align-items: center;
}

.source img {
    width: 10%;
    height: auto;
    min-width: 130px;
    max-height: 85px;
    overflow: hidden;
}

.source .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    margin-left: 20px;
}

.content div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.content div:first-child {
    border-left: #292929 2px solid;
}

.content span {
    box-sizing: border-box;
    padding: 5px;
}

.content p,
.content a {
    font-weight: 900;
    text-transform: uppercase;
    color: #e64946;
    padding: 5px;
}

.content a {
    font-size: 30px;
    color: #292929;
    padding: 0;
}

.content a:hover {
    color: #e64946;
}